/**************************************************************************
UTILITIES
***************************************************************************/

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-flex-end {
    justify-content: flex-end;
}

.d-none {
    display: none;
}