/**************************************************************************
VARIABLES
***************************************************************************/

:root {
    --color-bg1: #009788;
    --color-bg2: #d5dbd9;
    --color-notion: #8edafc;
    --color-bg-header: #eaeaea;
    --color-bg-left: #fafafa;
    --color-icone: #b1b1b1;
    --color-bg-avatar-left: #f2f2f2;
    --color-white: #ffffff;
    --color-black: #000000;
    --size-header: 70px;
    --size-area-avatar: 80px;
}